.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.App-Menu {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1d2026;
	height: 8vh;
	width: 100%;
	pointer-events: none;

	> .App-logo {
		position: relative;
		left: -3vw;
		vertical-align: middle;
		height: 100%;
	}

	> span {
		display: inline-block;
		vertical-align: middle;
		color: #fff;
		left: -3vw;
		position: relative;
	} 
}

.App-List {
	background-color: #282c34;
	top: 8vh;
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-Item {
	display: grid;
	grid-template-columns: 1fr max-content auto;
	column-gap: 1vmax;
	align-items: center;
	padding: 1vmax;

	> img {
		max-width: 10vmax;
		max-height: 20vmax;
	}

	> label {
		text-align: left;
	}
}

